@import "tailwindcss";

* {
  font-family: 'Roboto Mono', monospace;
}

:root {
  --bg-primary-color: #0a192f;
  --bg-secondary-color: #112240;
  --text-primary-color: #e6f1ff;
  --text-secondary-color: #ccd6f6;
  --text-tertiary-color: #8892b0;
  --tertiary-color: #64ffda;
}